* {
    list-style: none;
    text-decoration: none;
    font-family: Poppins, sans-serif;
}

ul,li {
    margin: 0;
    padding: 0;
}

.secciones {
    padding: 0;
}

footer a, nav a{
    text-decoration: none;
}

.form-select{
    border: 2px solid #FF0000;
    border-radius: 15px;
    color: #FF0000;
    background-color: #fff;
    padding: 5px 10px;
    width: 15%;
}

.form-select:focus {
    box-shadow: none;
    border: 2px solid #FF0000;
    border-radius: 15px;
    color: #FF0000;
    background-color: #fff;
    outline: none;
}
/* NAV */
nav a {
    font-weight: 500;
    color: #000;
}

.icon-calendar {
    background-color: #E32226;
    border-radius: 10px;
}


header button {
    background-color: #fff;
    border-radius: 14px;
    padding: 10px 18px;
}
.cuenta a {
    color: #000;
}

hr {
    color: #000;
    background-color: #000;
    border: 2px solid #000 ;
    opacity: 100%;
    width: 90%;
    margin: 10px auto;
}

/* MAIN */

.calendario {
    padding: 0;
}

main .container-fluid {
    padding: 0;
}

.fecha {
    padding: 0 20px;
    border-right: 2px solid #000;
}

.obra {
    padding: 0 10px ;
}

.calendario button {
    width: 100%;
    border: none;
    padding: 10px 15px;
    color: #fff;
}



/* CALENDARIO */
.table th {
    background-color: #786767;
}
.table td, .table th {
    border: none;
}
.table td {
    margin: 20px; /* Ajusta este valor según el espaciado que desees */
    /* background-color: #DACACA; */
    padding: 20px 30px;
}

.table button {
    border: none;
    width: 100%;
    height: 100%;
    color: #fff;
}

.red {
    background-color: #FF0000;
}

.bordo {
    background-color: #A00000;
}

.rojo {
    background-color: #FF0000;
}

/* FOOTER */

footer {
    background-color: #0d0d0d;
    padding: 40px;
    padding-bottom: 20px;
}

svg {
    margin-right: 20px;
}

footer .input-group, footer .form-control {
    background-color: #D9D9D9;
    padding: 5px;
    padding-right: 10px;
    border: none;
    outline: none;
}

.form-control:focus {
    background-color: #D9D9D9;
    padding: 5px;
    border: none;
    outline: none;
    box-shadow: none;
}

footer .btn {
    background-color: #E32226;
    color: #fff;
}
footer .btn:hover {
    background-color: #a41e20;
}
footer ul, footer h6 {
    color: #938E8E;
}
footer a {
    color: #fff;
}

footer p {
    color: #555353;
    margin: 0;
    margin-top: 20px;
}