* {
    list-style: none;
    text-decoration: none;
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #FBF0F0; 
}


.calendario {
    background-color: #FFFFFF; 
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}


.calendario.agendado {
    background-color: #A00000; 
    border-color: #A00000; 
    color: #FFFFFF; 
}


.calendario .fecha h3 {
    margin-top: 10px; 
    color: #CACACA; 
}


button.fs-5 {
    padding: 5px 10px;
    border-radius: 0px;
    cursor: pointer;
    width: 100%;
}

button.fs-5.red {
    background-color: #FF0000; 
    color: #FFFFFF; 
    border: none;
}

button.fs-5.bordo {
    background-color: #A00000; 
    color: #FFFFFF; 
    border: none;
}

ul, li {
    margin: 0;
    padding: 0;
}

.secciones {
    padding: 0;
}

footer a, nav a {
    text-decoration: none;
}

.form-select {
    border: 2px solid #FF0000;
    border-radius: 15px;
    color: #FF0000;
    background-color: #fff;
    padding: 5px 10px;
    width: 15%;
}

.form-select:focus {
    box-shadow: none;
    border: 2px solid #FF0000;
    border-radius: 15px;
    color: #FF0000;
    background-color: #fff;
    outline: none;
}

/* NAV */
nav a {
    font-weight: 500;
    color: #000;
}

.icon-calendar {
    background-color: #E32226;
    border-radius: 10px;
}

header button {
    background-color: #fff;
    border-radius: 14px;
    padding: 10px 18px;
}

.cuenta a {
    color: #000;
}

hr {
    color: #000;
    background-color: #000;
    border: 2px solid #000;
    opacity: 100%;
    width: 90%;
    margin: 10px auto;
}

/* MAIN */
.calendario {
    padding: 0;
}

main .container-fluid {
    padding: 0;
}

.fecha {
    padding: 0 20px;
    border-right: 2px solid #000;
}

.obra {
    padding: 0 10px;
}

.calendario button {
    width: 100%;
    border: none;
    padding: 10px 15px;
    color: #fff;
}

/* CALENDARIO */
.table {
    border-collapse: separate;
    font-weight: 600;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
    height: 100px;
    font-weight: 600;
    padding: 5px;
    position: relative;
    background-color: #FFFFFF; 
}

.table th {
    background-color: #786767;
    color: #FFFFFF;
}

.table td {
    background-color: #FFFFFF; 
}

.table td.pasado {
    background-color: transparent; 
    border: 3px solid #FFFFFF;
    color: #CACACA; 
}

.table td.agendado {
    background-color: #A00000; 
    color: #fff;
}

.table td span {
    display: block;
    font-size: 0.75em;
    text-align: left;
    padding-top: 20px;
    padding-left: 10px;
}

.table td::before {
    content: attr(data-number);
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 1em;
    font-weight: bold;
    color: inherit;
}

.agendados-lista li {
    margin-left: 25px;
    color: #E32226;
    list-style: circle;
}


        /* CALENDARIO */
        .table {
            border-spacing: 35px 10px; 
            border-collapse: separate;
            font-weight: 600;
        }
        .table th {
            background-color: #786767;
            padding: 0px 10px;
            text-align: center;
            vertical-align: middle;
        }
        .table td, .table th {
            border: none;
            text-align: center;
            vertical-align: middle;
            height: 100px; 
        }
        .table td {
            background-color: #DACACA;
            padding: 25px 20px;
            font-weight: 600;
            width: 200px;
            text-align: left;
        }
        .table td span {
            display: block;
            font-size: 0.75em;
            text-align: left;
        }
        .red {
            background-color: #FF0000;
        }
        .bordo {
            background-color: #A00000;
        }
        table td.agendado {
            background-color: #A00000;
            color: #fff;
        }

        .table .pasado {
            background-color: #DACACA;
            border: 3px solid #000;
            opacity: 40%;
        }

        .agendados-lista li {
            margin-left: 25px;
            color: #E32226;
            list-style:  disc;;
        }

        .textos-agendados-lista {
            color: #000;
            font-weight:600;

        }

/* FOOTER */
footer {
    background-color: #0d0d0d;
    padding: 40px;
    padding-bottom: 20px;
}

svg {
    margin-right: 20px;
}

footer .input-group, footer .form-control {
    background-color: #D9D9D9;
    padding: 5px;
    padding-right: 10px;
    border: none;
    outline: none;
}

.form-control:focus {
    background-color: #D9D9D9;
    padding: 5px;
    border: none;
    outline: none;
    box-shadow: none;
}

footer .btn {
    background-color: #E32226;
    color: #fff;
}

footer .btn:hover {
    background-color: #a41e20;
}

footer ul, footer h6 {
    color: #938E8E;
}

footer a {
    color: #fff;
}

footer p {
    color: #555353;
    margin: 0;
    margin-top: 20px;
}
